<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


    <head th:replace="/fragments/head :: head" </head>
    <body>
        <div> INICIO </div>
        <p th:if="${session.usuariosession != null}" th:text="'Hola de vuelta '+ ${session.usuariosession.nombre}"> </p> 
        
        <img class="logo" th:src="@{/imagen/perfil/__${session.usuariosession.id}__}" alt="Img  inicio usuario">

    <nav th:replace="/fragments/navbar :: nav" 
    </nav>
        
        
           
        
     
</body>
</html>
